<div class="rsvp">
  <div class="guest-list">
    <ng-container *ngFor="let guest of guestList"> 
      <a (click)="selected = guest">{{ guest.fullName }}</a>
    </ng-container>
  </div>
  
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="selected.isGoing"
    *ngIf="selected">
      <mat-radio-button name="rsvp" class="example-radio-button" [value]="true">
        going
      </mat-radio-button>
      <mat-radio-button name="rsvp" class="example-radio-button" [value]="false">
        not going
      </mat-radio-button>
  </mat-radio-group>
</div>