<div>
  <div appSection class="section panel-1">
    <div class="section-container">
      <div #header class="header" [@snap]="snap">
        <div class="charcoal">
          renee + gerald
        </div>
      </div>
      <div class="subtext" [@fadeIn]="fadeIn">to happily ever after...</div>
    </div>
  </div>
  <div appSection class="section panel-2">
    <div class="section-container">
      <div class="fixed">
        <div class="subtext">Silong at Balay Dako</div>
        <BR>
        July 06, 2019 | 5 PM
      </div>
    </div>
  </div>
  <div appSection class="section panel-3">
    <div class="section-container">
      <div class="fixed">
        <div class="subtext">
          <p>
            dress real pretty, <br> dress real fine,
          </p>
          <p>
            but you can leave <br> your heels behind.
          </p>
          <p>
            dress for comfort, <br> dress for fun
          </p>
          <p>
            'cause it's a party, <br> when all's said and done.
          </p>
          <div class="dress-code">
            <object data="../assets/images/svg/cocktail-dress.svg" type="image/svg+xml"></object>
            <object data="../assets/images/svg/formal-shirt.svg" type="image/svg+xml"></object>
            <object data="../assets/images/svg/bow-tie.svg" type="image/svg+xml"></object>
            <object data="../assets/images/svg/chinos-pants.svg" type="image/svg+xml"></object>
          </div>
          <div class="palette">
            <div class="color bg-charcoal"></div>
            <div class="color bg-rust"></div>
            <div class="color bg-peach"></div>
            <div class="color bg-blush"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div appSection class="section panel-4">
    <div class="section-container">
      <div class="fixed">
        THE WISHING WELL
        <p class="subtext">we ask that your presence <br> is your gift to us</p>
        <p class="subtext">since we already have <br> a lot of stuff</p>
        <p class="subtext">but if you'd like to bring a  <br> gift to send us on our way</p>
        <p class="subtext">a small contribution <br> to our wishing well</p>
        <p class="subtext">would surely make our day.</p>
      </div>
    </div>
  </div>
  <div appSection class="section panel-5">
    <div class="section-container">
      <app-guest-detail [code]="code"></app-guest-detail>
    </div>
  </div>
  <div appSection class="section panel-6">
    <div class="section-container">
      <img class="image" src="../assets/images/jpg/IMG_0168-Edit.jpg"/>
      <div>share the love</div>
      <div class="subtext">help us capture the big day and</div>
      <div class="subtext">kindly use our hashtag</div>

      <p class="social">
        <object data="../assets/images/svg/facebook.svg" type="image/svg+xml"></object>
        <object data="../assets/images/svg/instagram.svg" type="image/svg+xml"></object>
      </p>

      <div>
        <img class="hash-tag" src="../assets/images/IMG_0116.GIF"/>  
      </div>
      <div class="credits">
        <p>Pre-nup photos by 
          <a target="_blank" href="https://instagram.com/82astreetphotography?igshid=5kuc8bwaihzf">Lea Lora Magpoc-Tadeo</a>
        </p>
        
        Photos by 
        <a target="_blank" href="https://unsplash.com/photos/zFZAbh3mxic?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Amy Humphries</a>
        and 
        <a target="_blank" href="https://unsplash.com/photos/5cBkR8KalDg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Vishu Gowda</a> on 
        <a target="_blank" href="https://unsplash.com/@vishu_gowda?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      </div>
    </div>
  </div>
</div>